.container{
    width: 100vw;
    height: 200px;
    background-color: blueviolet;
    display: flex;
    justify-content: space-evenly;
    
}

.box{
    height: 100px;
    width: 100px;
    background-color: gold;
    margin-top: 50px;
    border: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    font-size: 2rem;
}
